<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.schoolwork.epsys.device.mapper.MaintainRecordMapper">

    <resultMap id="BaseResultMap" type="com.schoolwork.epsys.model.device.MaintainRecord">
        <id property="id" column="id" jdbcType="INTEGER"/>
        <result property="deviceId" column="device_id" jdbcType="INTEGER"/>
        <result property="maintenanceType" column="maintenance_type" jdbcType="OTHER"/>
        <result property="startTime" column="start_time" jdbcType="TIMESTAMP"/>
        <result property="endTime" column="end_time" jdbcType="TIMESTAMP"/>
        <result property="operatorId" column="operator_id" jdbcType="INTEGER"/>
        <result property="description" column="description" jdbcType="VARCHAR"/>
        <result property="status" column="status" jdbcType="OTHER"/>
        <result property="approvalId" column="approval_id" jdbcType="INTEGER"/>
        <result property="approvalTime" column="approval_time" jdbcType="TIMESTAMP"/>
        <result property="miantainId" column="miantain_id" jdbcType="INTEGER"/>
        <result property="version" column="version" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,device_id,maintenance_type,
        start_time,end_time,operator_id,
        description,status,approval_id,
        approval_time,miantain_id,version
    </sql>
</mapper>
